.container{
    max-width: 500px;
    margin: 12px auto; 
}

.calculator .display{
    height: 50px;
    background-color: darkgrey;
}

.button-grid{
    display: grid;
}

.calc-buttons{
    height: 40px;
    flex: 1; 

}

.row{
    display: flex;
    justify-content: space-between;
}